.content-venda {
    padding: 5px 10px 5px 10px;
    border: solid;
    border-color: rgb(0, 0, 0, 25%);
    margin: 5px;
}

.item-venda{
    background-color:#D9D9D9 ;
    padding: 1px
}

.item-venda p {
    padding: 0px 5px;
}

.finalizar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #F6F6F6;
    border: solid;
    border-color: rgb(0, 0, 0, 25%);
    padding: 5px 10px;
    margin: 5px;
}

